
body{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #444;
}

.container{
    max-width: 1128px;
}
li{
    list-style: none;
}
a{
    color: #00ccff;
    text-decoration: none;
    font-size: 12px;
}

a:hover{
    text-decoration: underline;
}

p{
    font-size: 20px;
}

img{
    max-width: 100%;
}

.cabecalho{
    width: 100%;
    height: 48px;
    margin: 40px 0;
}

.logo{
    float: left;
}

.menu{
    float: right;
}

.menu ul li a{
    font-size: 20px;
    margin:12px 0 0 24px;
    color: #999;
}
/* ESTILIZAÇÃO BANNER + BOX */

.banner{
    height: 450px;
    margin-bottom: 35px;
    display: flex;
    position: relative;
}


.box{
    width: 42.5%;
    padding: 30px 48px;
    position: absolute;
    margin-top: 48px;
    background-color: rgba(0,0,0,0.5);
}

.box p{
    font-size: 20px;
    color: #fff;
}

.box h1{
    margin: 0;
    font-size: 48px;
    font-weight: 200;
    color: #fff;
}

/* ESTILIZAÇÃO FORMULÁRIO */
.formulario h1{
    background-color: #222;
    color: #fff;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.cadastro{
    display: block;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 40px;
}

.cadastro div{
    width: 50%;
    margin: auto;
}

.cadastro input{
    width: 100%;
    padding: 5px;
    margin: 5px;
    
}

label{
    margin-left: 5px;
}

#mensagemUserId{
    width: 102%;
    height: 200px;
    margin: 5px 5px;
    resize: none;
}

#dtNascimentoUserId{
    width: 10px;
}

#btnEnviarId{
    display: block;
    width: 20%;
    min-width: 70px;
    margin-left: 84%;
    font-weight: bold;
    background-color: #444;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}


#btnEnviarId:hover{
    background-color: #666;
}



/* REMOVER INCREMENTO E DECREMENTO DO CAMPO NUMBER */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}


/* ESTILIZAÇÃO RODAPÉ */

.rodape{
    width: 100%;
    margin-bottom: 30px;
    float: left;
    font-size: 30px;
}

.rodape p{
    margin-bottom: 0;
}

.rodape small{
    font-size: 18px;
}

.rodape a{
    font-size: 1rem;
}

